.contact-us-title {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    animation:fadeInLeft 0.8s ease forwards;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);   
}
.contact-us-subtitle {
    color: #666;
    margin-bottom: 30px;
    text-align: center;
    animation:fadeInLeft 0.8s ease forwards;
    font-size:1.2em
}

/* City group layout: city on left, accordions on right */

.city-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 5rem auto;
    max-width: 1600px; 
    animation: fadeInUp 0.8s ease forwards;
}

.city-label {
    font-size: 2rem;
    font-weight: bold;
    color: #004c5f;
    width:150px;
    text-align: center; /* centers the text within the label */
}

.accordion-contact {
    background-color: rgba(23, 142, 106, 0.2);
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 1rem;
    border:2px solid #004c5f;
    backdrop-filter: blur(10px);
    font-weight: bold;
}

.accordion-contact.active,
.accordion-contact:hover {
    background-color: #00788d;
    color:white;
}

.panel {
    padding: 1rem;
    display: none;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    border: 2px solid rgba(0, 0, 0, 0.1);
    /* transition: max-height 0.5s ease; */
    transition:0.3s ease;
}

.panel-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.panel-text {
    flex: 1;
}

.panel-img {
    width: 240px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.accord-container-contact {
    width:50%
}

@media (max-width: 768px) {
    .city-group {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
        gap: 2rem; /* Reduce gap between city name and accordion */
        margin: 3rem auto; /* Adjust margin for smaller screens */
    }

    .city-label {
        width: 100%; /* Full width for city label */
        text-align: center; /* Ensure text remains centered */
    }

    .accord-container-contact {
        width: 100%; /* Full width for accordion container */
        max-width: 600px; /* Optional: limit max width for better readability */
    }
}
